In [ ]:
# Case Study 3 Assignments

In [1]:
#Changing the directory

import os

In [2]:
os.getcwd()

'C:\\Users\\Freeware Sys'

In [3]:
os.chdir("F:\Analytx Labs\DSP Class 9\Fundamental Stats & Stats tests\Fundamental Stats & Stats tests")

In [4]:
os.getcwd()

'F:\\Analytx Labs\\DSP Class 9\\Fundamental Stats & Stats tests\\Fundamental Stats & Stats tests'

In [5]:
#Importing libraries

import numpy as np
import pandas as pd
import  scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [7]:
# Loading data cust_segment

cust= pd.read_csv("cust_seg.csv")

In [8]:
cust.head()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

In [9]:
# 1. Card usage has been improved significantly from last year usage which is 50
# H0: The card usage has not been improved, H1: The card usage has been improved
# We will calculate mean of the column "Post_usage_1 month

x= cust.Post_usage_1month.mean()
x

52.775

In [13]:
# Now we will perform One Sample T-test
stats.ttest_1samp(cust.Post_usage_1month, popmean=50) # Card usage has been improved

Ttest_1sampResult(statistic=4.140324966963024, pvalue=5.120919460716355e-05)

In [16]:
# 2. The last campign was successfull in terms usage of credit card.
# H0: The last campign was not successfull, H1: The last campign was successfull
# we will perform Two sample T-test paired

stats.ttest_rel(a=cust.pre_usage, b=cust.Post_usage_1month) # Their variance is same as they are paired.P value is less then 5%.So, the last campign was not successfull.

Ttest_relResult(statistic=-0.8673065458794775, pvalue=0.3868186820914985)

In [18]:
# 3.Is there any difference between  male and female credit card usage
# H0: There is no difference, H1: There is a difference
# We will apply Paird Sample Independet T -Test
# First we need to segregate the variable for male and female

cust_female= cust.Post_usage_1month[cust.sex==1]
cust_male= cust.Post_usage_1month[cust.sex==0]

cust_female
cust.head(5)

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

In [20]:
cust_male
cust.head(5)

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

In [25]:
# Now we will perform paired sample independent T-test
stats.ttest_ind(a=cust_male, b=cust_female, equal_var= False) # P<5%, There is no difference between male and female credit card usage

Ttest_indResult(statistic=-3.6564080478875276, pvalue=0.00034088493594266187)

In [30]:
# 4. Is there any difference between segments of customer in terms of credit card usage?
# H0: There is no difference, H1: There is a  difference
# Since we have 3 segments , which means we have multile variables, we will use ANOVA
# First we will segreagate the segment values
s1= cust.Latest_mon_usage[cust.segment==1]
s2= cust.Latest_mon_usage[cust.segment==2]
s3= cust.Latest_mon_usage[cust.segment==3]

s1
s1.head(5)

0     49.2
2     64.8
6     50.4
8     64.8
15    51.6
Name: Latest_mon_usage, dtype: float64

In [31]:
s2
s2.head(5)

4     68.4
5     61.2
7     54.0
9     62.4
11    61.2
Name: Latest_mon_usage, dtype: float64

In [32]:
s3
s3.head(5)

1     63.6
3     56.4
10    61.2
21    90.0
24    54.0
Name: Latest_mon_usage, dtype: float64

In [33]:
# Now we will use ANOVA test method 
stats.f_oneway(s1,s2,s3) # p>5%, There is a difference i.e H1 is true

F_onewayResult(statistic=29.279283801321778, pvalue=7.36401083352674e-12)

In [38]:
# 5. Is there any relation between region and segment
# Region and Segment are categorical varibles. hence, we will apply chi squae method
# Frist we will display our observations
t=pd.crosstab(cust.segment, cust.region, margins = True)
t

region    1   2   3  All
segment
1        16  20   9   45
2        19  44  42  105
3        12  31   7   50
All      47  95  58  200

In [40]:
# Now we will check the observation value with our expected value
stats.chi2_contingency(observed= t)

(16.60444164948934,
 0.055282939487992365,
 9,
 array([[ 10.575,  21.375,  13.05 ,  45.   ],
        [ 24.675,  49.875,  30.45 , 105.   ],
        [ 11.75 ,  23.75 ,  14.5  ,  50.   ],
        [ 47.   ,  95.   ,  58.   , 200.   ]]))

In [ ]:
# In the above output, array is our expected observation, 9 is degress of freedom, 0.55 is p value and 16.6 is chi sattistc test value
#We conclude, p>5% and stats test value is postive, hence segments and regions are correlated in positive direction

In [45]:
# 6.IS the  relationship between card usage in the latest month and pre_usage of campign.
# We are finding the numeric relationship between variables, Hence, using Correlation method
print (np.corrcoef(cust.Latest_mon_usage, cust.Post_usage_1month))

[[1.         0.61744926]
 [0.61744926 1.        ]]

In [46]:
print (stats.stats.pearsonr(cust.Latest_mon_usage, cust.Post_usage_1month)) # p<5%, positivly related i.e H1 is True

(0.6174492644854919, 2.0866647416871388e-22)